<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<div class="alert alert-success w-50">
    <div class="d-flex align-items-center justify-content-start">
        <core:icon identifier="actions-check" size="medium"/>
        Zak_Ai Setup complete
    </div>
    <p>
        <ai3-credits></ai3-credits>
    </p>
</div>
<div class="alert alert-success w-50  gap-3">
    <div class="d-flex align-items-center justify-content-start gap-3">
        My Zak_ai Account
    </div>
    <p>
        <ai3-account></ai3-account>
    </p>
</div>
